body {
    background-color: black;
    font-family: sans-serif;
    text-align: center;
}

.white {
    color: white;
}

#username {
    margin-left: 2rem;
}

.container {
    margin: 3rem;
}

button {
    margin: 1rem;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}